<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>XML Upload</title>
  <style>
    .body {
      font-family: sans-serif;
      background-color: #eeeeee;
    }

    .file-upload {
      background-color: #ffffff;
      width: 600px;
      margin: 0 auto;
      padding: 20px;
    }

    .file-upload-btn {
      width: 100%;
      margin: 0;
      color: #fff;
      background: #fa4141;
      border: none;
      padding: 10px;
      border-radius: 4px;
      border-bottom: 4px solid #fa4141;
      transition: all .2s ease;
      outline: none;
      text-transform: uppercase;
      font-weight: 700;
    }

    .file-upload-btn:hover {
      background: #fa4141;
      color: #ffffff;
      transition: all .2s ease;
      cursor: pointer;
    }

    .file-upload-btn:active {
      border: 0;
      transition: all .2s ease;
    }

    .file-upload-content {
      display: none;
      text-align: center;
    }

    .file-upload-input {
      position: absolute;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      outline: none;
      opacity: 0;
      cursor: pointer;
    }

    .file-upload-wrap {
      margin-top: 20px;
      border: 4px dashed #fa4141;
      position: relative;
    }

    .image-dropping,
    .file-upload-wrap:hover {
      background-color: #e29898;
      border: 4px dashed #ffffff;
    }

    .file-title-wrap {
      padding: 0 15px 15px 15px;
      color: #222;
    }

    .drag-text {
      text-align: center;
    }

    .drag-text h3 {
      font-weight: 100;
      text-transform: uppercase;
      color: #fa4141;
      padding: 60px 0;
    }

    .file-upload-excelimage {
      max-height: 200px;
      max-width: 200px;
      margin: auto;
      padding: 20px;
    }

    .submit-image {
      width: 200px;
      margin: 0;
      color: #fff;
      background: #4a9702;
      border: none;
      padding: 10px;
      border-radius: 4px;
      border-bottom: 4px solid #6eaf04b4;
      transition: all .2s ease;
      outline: none;
      text-transform: uppercase;
      font-weight: 700;
    }

    .remove-image {
      width: 200px;
      margin: 0;
      color: #fff;
      background: #cd4535;
      border: none;
      padding: 10px;
      border-radius: 4px;
      border-bottom: 4px solid #b02818;
      transition: all .2s ease;
      outline: none;
      text-transform: uppercase;
      font-weight: 700;
    }

    .submit-image:hover {
      background: #378a00;
      color: #ffffff;
      transition: all .2s ease;
      cursor: pointer;
    }

    .remove-image:hover {
      background: #c13b2a;
      color: #ffffff;
      transition: all .2s ease;
      cursor: pointer;
    }

    .remove-image:active {
      border: 0;
      transition: all .2s ease;
    }
  </style>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div>
    <div>
      <a href={{key}}>{{key}}</a>
    </div>
    {{#if error.message}}
    <div class="d-flex justify-content-center">
      <p class="text-danger fw-bold">{{error.message}}</p>
    </div>
    {{/if}}

    {{#if success.message}}
    <div class="d-flex justify-content-center">
      <p class="text-danger fw-bold">{{success.message}}</p>
    </div>
    {{/if}}
  </div>
  <div class="d-flex justify-content-center">
    <form method="POST" action="/excel/convert/" enctype="multipart/form-data" class="w-25 p-3">
      {{!-- <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Security Code</span>
        <input name="feedback" type="text" class="form-control">
      </div> --}}

      <div class="mb-3">
        <label for="formFile" class="form-label">XML file</label>
        <input name="excel" class="form-control" type="file" id="excel">
      </div>
  </div>
  <div class="mb-3 d-flex justify-content-center">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  </form>
  </div>
  {{!-- <div class="file-upload">
    <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Excel
      File</button>

    <div class="file-upload-wrap">
      <input class="file-upload-input" id="excel" name="excel" type='file' onchange="readURL(this);" />
      <div class="drag-text">
        <h3>Drag and drop a file or select Add Excel File</h3>
      </div>
    </div>
    <div class="file-upload-content">
      <img class="file-upload-excelimage" src="https://cdn.pixabay.com/photo/2021/01/30/12/15/excel-5963669_1280.png"
        alt="excell image" />
      <div class="file-title-wrap">

        <button type="button" class="submit-image" onclick="submitForm()">Submit <span class="image-title">Uploaded
            File</span></button>
      </div>
      <div class="file-title-wrap">
        <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded
            File</span></button>
      </div>
      <a href="http://www.africau.edu/images/default/sample.pdf">Download Translated File</a>
    </div>
  </div> --}}
  <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script>
    function submitForm() {
      var fileInput = document.getElementById("#excel");
      var file = fileInput.files[0];
      var fd = new FormData();
      fd.append("files", file);
      var xhr = new XMLHttpRequest();
      xhr.open("POST", '/excel/convert');
      xhr.onreadystatechange = function () {
        if (xhr.readyState == 4) {
          alert('success');
        }
        else if (uploadResult == 'success')
          alert('error');
      };
      xhr.send(fd);
    }


    function readURL(input) {
      if (input.files && input.files[0]) {

        var reader = new FileReader();

        reader.onload = function (e) {
          $('.file-upload-wrap').hide();

          $('.file-upload-content').show();

          $('.image-title').html(input.files[0].name);
        };

        reader.readAsDataURL(input.files[0]);

      } else {
        removeUpload();
      }
    }

    function removeUpload() {
      $('.file-upload-input').replaceWith($('.file-upload-input').clone());
      $('.file-upload-content').hide();
      $('.file-upload-wrap').show();
    }
    $('.file-upload-wrap').bind('dragover', function () {
      $('.file-upload-wrap').addClass('image-dropping');
    });
    $('.file-upload-wrap').bind('dragleave', function () {
      $('.file-upload-wrap').removeClass('image-dropping');
    });

  </script>
</body>

</html>