extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Word Converter
    div.Message
      div.Title
        h3 Welcome
        h1 Convert Word
      span.Details with just a click
    div.NavButtons
      a(href="/excel/view")
          div.NavButton Upload Excel
    div.NavButtons
      a(href="/xml/view")
          div.NavButton Upload XML